GoodReads Export of 11th of Nov, Data Cleaning.

In [135]:
#import the required libraries
import pandas as pd 
import numpy as np

In [136]:
#Import the data for the GoodReads Library Extracted on the 11th of November
df = pd.read_csv(r"C:\Users\lanas\OneDrive\Desktop\Data Sets\goodreads_library_export.csv")
df.head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,62232755,"Throne in the Dark (Villains & Virtues, #1)",A.K. Caggiano,"Caggiano, A.K.",NaN,NaN,NaN,0,4.27,NaN,...,NaN,1/15/2023,to-read,to-read (#179),to-read,NaN,NaN,NaN,0,0
1,58310153,The High Mountain Court (The Five Crowns of Ok...,A.K. Mulford,"Mulford, A.K.",NaN,NaN,NaN,0,3.74,AK Mulford,...,NaN,11/7/2022,to-read,to-read (#141),to-read,NaN,NaN,NaN,0,0
2,43263361,"Crown of Bones (Amassia, #1)",A.K. Wilder,"Wilder, A.K.",NaN,1640634142,9.781641e+12,0,3.94,Entangled: Teen,...,NaN,11/6/2022,to-read,to-read (#121),to-read,NaN,NaN,NaN,0,0
3,38325332,All the Stars and Teeth (All the Stars and Tee...,Adalyn Grace,"Grace, Adalyn",NaN,NaN,NaN,0,3.67,Imprint,...,NaN,11/18/2021,to-read,to-read (#21),to-read,NaN,NaN,NaN,0,0
4,44012880,"Fable (The World of the Narrows, #1)",Adrienne Young,"Young, Adrienne",NaN,NaN,NaN,0,4.04,Wednesday Books,...,NaN,11/8/2021,to-read,to-read (#13),to-read,NaN,NaN,NaN,0,0

In [130]:
#Missing data check 
for col in df.columns:
    pct_missing=np.mean(df[col].isnull())
    print('{} - {}%'.format(col,pct_missing))

Book Id - 0.0%
Title - 0.0%
Author - 0.0%
Author l-f - 0.0%
Additional Authors - 0.8868552412645591%
ISBN - 0.33610648918469216%
ISBN13 - 0.3161397670549085%
My Rating - 0.0%
Average Rating - 0.0%
Publisher - 0.07487520798668885%
Binding - 0.0016638935108153079%
Number of Pages - 0.0%
Year Published - 0.0016638935108153079%
Original Publication Year - 0.011647254575707155%
Date Read - 0.5540765391014975%
Date Added - 0.0%
Bookshelves - 0.06156405990016639%
Bookshelves with positions - 0.06156405990016639%
Exclusive Shelf - 0.0%
My Review - 0.961730449251248%
Spoiler - 1.0%
Private Notes - 1.0%
Read Count - 0.0%
Owned Copies - 0.0%

In [137]:
#dropping all the duplicates though I believe there will not be any. 
df.drop_duplicates()
df.head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,62232755,"Throne in the Dark (Villains & Virtues, #1)",A.K. Caggiano,"Caggiano, A.K.",NaN,NaN,NaN,0,4.27,NaN,...,NaN,1/15/2023,to-read,to-read (#179),to-read,NaN,NaN,NaN,0,0
1,58310153,The High Mountain Court (The Five Crowns of Ok...,A.K. Mulford,"Mulford, A.K.",NaN,NaN,NaN,0,3.74,AK Mulford,...,NaN,11/7/2022,to-read,to-read (#141),to-read,NaN,NaN,NaN,0,0
2,43263361,"Crown of Bones (Amassia, #1)",A.K. Wilder,"Wilder, A.K.",NaN,1640634142,9.781641e+12,0,3.94,Entangled: Teen,...,NaN,11/6/2022,to-read,to-read (#121),to-read,NaN,NaN,NaN,0,0
3,38325332,All the Stars and Teeth (All the Stars and Tee...,Adalyn Grace,"Grace, Adalyn",NaN,NaN,NaN,0,3.67,Imprint,...,NaN,11/18/2021,to-read,to-read (#21),to-read,NaN,NaN,NaN,0,0
4,44012880,"Fable (The World of the Narrows, #1)",Adrienne Young,"Young, Adrienne",NaN,NaN,NaN,0,4.04,Wednesday Books,...,NaN,11/8/2021,to-read,to-read (#13),to-read,NaN,NaN,NaN,0,0

In [138]:
#dropping the owned copies since the information included is irrelevant and inaccurate
df = df.drop(columns = "Owned Copies")
df = df.drop(columns = "Spoiler")
df = df.drop(columns = "Private Notes")
df

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count
0,62232755,"Throne in the Dark (Villains & Virtues, #1)",A.K. Caggiano,"Caggiano, A.K.",NaN,NaN,NaN,0,4.27,NaN,...,459,2022.0,2022.0,NaN,1/15/2023,to-read,to-read (#179),to-read,NaN,0
1,58310153,The High Mountain Court (The Five Crowns of Ok...,A.K. Mulford,"Mulford, A.K.",NaN,NaN,NaN,0,3.74,AK Mulford,...,354,2021.0,2021.0,NaN,11/7/2022,to-read,to-read (#141),to-read,NaN,0
2,43263361,"Crown of Bones (Amassia, #1)",A.K. Wilder,"Wilder, A.K.",NaN,1640634142,9.781641e+12,0,3.94,Entangled: Teen,...,400,2021.0,2021.0,NaN,11/6/2022,to-read,to-read (#121),to-read,NaN,0
3,38325332,All the Stars and Teeth (All the Stars and Tee...,Adalyn Grace,"Grace, Adalyn",NaN,NaN,NaN,0,3.67,Imprint,...,380,2020.0,2020.0,NaN,11/18/2021,to-read,to-read (#21),to-read,NaN,0
4,44012880,"Fable (The World of the Narrows, #1)",Adrienne Young,"Young, Adrienne",NaN,NaN,NaN,0,4.04,Wednesday Books,...,357,2020.0,2020.0,NaN,11/8/2021,to-read,to-read (#13),to-read,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,60730784,A Kingdom of Flame and Fury (The Four Kingdoms...,Whitney Dean,"Dean, Whitney",NaN,NaN,9.798986e+12,0,3.70,Phantom House Press,...,547,2022.0,NaN,NaN,11/7/2022,to-read,to-read (#134),to-read,NaN,0
597,52459864,"Iron Widow (Iron Widow, #1)",Xiran Jay Zhao,"Zhao, Xiran Jay",NaN,0735269939,9.780735e+12,0,4.09,Penguin Teen,...,391,2021.0,2021.0,NaN,7/16/2022,to-read,to-read (#66),to-read,NaN,0
598,37800111,The Last Children of Tokyo,Yōko Tawada,"Tawada, Yōko",Margaret Mitsutani,1846276705,9.781846e+12,0,3.45,Portobello Books,...,138,2018.0,2014.0,NaN,8/22/2023,currently-reading,currently-reading (#3),currently-reading,NaN,1
599,22510983,"Girl Online (Girl Online, #1)",Zoe Sugg,"Sugg, Zoe",Siobhan Curham,0141357274,9.780141e+12,1,3.66,Atria / Keywords Press,...,352,2014.0,2014.0,5/21/2016,5/12/2016,2016,2016 (#33),read,NaN,1
600,23208406,On Tour (Girl Online #2),Zoe Sugg,"Sugg, Zoe",NaN,NaN,NaN,1,3.74,Keywords Press,...,352,2015.0,2015.0,NaN,5/21/2016,2016,2016 (#34),read,NaN,1

In [139]:
#seperating the Title Column into 2 columns consisting of "Title" and "Series"
df [["Title", "Series"]] = df["Title"].str.split('(', expand = True)
df

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count,Series
0,62232755,Throne in the Dark,A.K. Caggiano,"Caggiano, A.K.",NaN,NaN,NaN,0,4.27,NaN,...,2022.0,2022.0,NaN,1/15/2023,to-read,to-read (#179),to-read,NaN,0,"Villains & Virtues, #1)"
1,58310153,The High Mountain Court,A.K. Mulford,"Mulford, A.K.",NaN,NaN,NaN,0,3.74,AK Mulford,...,2021.0,2021.0,NaN,11/7/2022,to-read,to-read (#141),to-read,NaN,0,"The Five Crowns of Okrith, #1)"
2,43263361,Crown of Bones,A.K. Wilder,"Wilder, A.K.",NaN,1640634142,9.781641e+12,0,3.94,Entangled: Teen,...,2021.0,2021.0,NaN,11/6/2022,to-read,to-read (#121),to-read,NaN,0,"Amassia, #1)"
3,38325332,All the Stars and Teeth,Adalyn Grace,"Grace, Adalyn",NaN,NaN,NaN,0,3.67,Imprint,...,2020.0,2020.0,NaN,11/18/2021,to-read,to-read (#21),to-read,NaN,0,"All the Stars and Teeth, #1)"
4,44012880,Fable,Adrienne Young,"Young, Adrienne",NaN,NaN,NaN,0,4.04,Wednesday Books,...,2020.0,2020.0,NaN,11/8/2021,to-read,to-read (#13),to-read,NaN,0,"The World of the Narrows, #1)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,60730784,A Kingdom of Flame and Fury,Whitney Dean,"Dean, Whitney",NaN,NaN,9.798986e+12,0,3.70,Phantom House Press,...,2022.0,NaN,NaN,11/7/2022,to-read,to-read (#134),to-read,NaN,0,"The Four Kingdoms, #1)"
597,52459864,Iron Widow,Xiran Jay Zhao,"Zhao, Xiran Jay",NaN,0735269939,9.780735e+12,0,4.09,Penguin Teen,...,2021.0,2021.0,NaN,7/16/2022,to-read,to-read (#66),to-read,NaN,0,"Iron Widow, #1)"
598,37800111,The Last Children of Tokyo,Yōko Tawada,"Tawada, Yōko",Margaret Mitsutani,1846276705,9.781846e+12,0,3.45,Portobello Books,...,2018.0,2014.0,NaN,8/22/2023,currently-reading,currently-reading (#3),currently-reading,NaN,1,None
599,22510983,Girl Online,Zoe Sugg,"Sugg, Zoe",Siobhan Curham,0141357274,9.780141e+12,1,3.66,Atria / Keywords Press,...,2014.0,2014.0,5/21/2016,5/12/2016,2016,2016 (#33),read,NaN,1,"Girl Online, #1)"
600,23208406,On Tour,Zoe Sugg,"Sugg, Zoe",NaN,NaN,NaN,1,3.74,Keywords Press,...,2015.0,2015.0,NaN,5/21/2016,2016,2016 (#34),read,NaN,1,Girl Online #2)

In [140]:
#removing all the all the Null Values from the dataframe 
df = df.fillna("")
df

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count,Series
0,62232755,Throne in the Dark,A.K. Caggiano,"Caggiano, A.K.",,,,0,4.27,,...,2022.0,2022.0,,1/15/2023,to-read,to-read (#179),to-read,,0,"Villains & Virtues, #1)"
1,58310153,The High Mountain Court,A.K. Mulford,"Mulford, A.K.",,,,0,3.74,AK Mulford,...,2021.0,2021.0,,11/7/2022,to-read,to-read (#141),to-read,,0,"The Five Crowns of Okrith, #1)"
2,43263361,Crown of Bones,A.K. Wilder,"Wilder, A.K.",,1640634142,9781640634145.0,0,3.94,Entangled: Teen,...,2021.0,2021.0,,11/6/2022,to-read,to-read (#121),to-read,,0,"Amassia, #1)"
3,38325332,All the Stars and Teeth,Adalyn Grace,"Grace, Adalyn",,,,0,3.67,Imprint,...,2020.0,2020.0,,11/18/2021,to-read,to-read (#21),to-read,,0,"All the Stars and Teeth, #1)"
4,44012880,Fable,Adrienne Young,"Young, Adrienne",,,,0,4.04,Wednesday Books,...,2020.0,2020.0,,11/8/2021,to-read,to-read (#13),to-read,,0,"The World of the Narrows, #1)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,60730784,A Kingdom of Flame and Fury,Whitney Dean,"Dean, Whitney",,,9798986011806.0,0,3.70,Phantom House Press,...,2022.0,,,11/7/2022,to-read,to-read (#134),to-read,,0,"The Four Kingdoms, #1)"
597,52459864,Iron Widow,Xiran Jay Zhao,"Zhao, Xiran Jay",,0735269939,9780735269934.0,0,4.09,Penguin Teen,...,2021.0,2021.0,,7/16/2022,to-read,to-read (#66),to-read,,0,"Iron Widow, #1)"
598,37800111,The Last Children of Tokyo,Yōko Tawada,"Tawada, Yōko",Margaret Mitsutani,1846276705,9781846276705.0,0,3.45,Portobello Books,...,2018.0,2014.0,,8/22/2023,currently-reading,currently-reading (#3),currently-reading,,1,
599,22510983,Girl Online,Zoe Sugg,"Sugg, Zoe",Siobhan Curham,0141357274,9780141357270.0,1,3.66,Atria / Keywords Press,...,2014.0,2014.0,5/21/2016,5/12/2016,2016,2016 (#33),read,,1,"Girl Online, #1)"
600,23208406,On Tour,Zoe Sugg,"Sugg, Zoe",,,,1,3.74,Keywords Press,...,2015.0,2015.0,,5/21/2016,2016,2016 (#34),read,,1,Girl Online #2)

In [141]:
#removing the paraenthese at the end of the column series 
df ["Series"] = df["Series"].str.strip(')')
df

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count,Series
0,62232755,Throne in the Dark,A.K. Caggiano,"Caggiano, A.K.",,,,0,4.27,,...,2022.0,2022.0,,1/15/2023,to-read,to-read (#179),to-read,,0,"Villains & Virtues, #1"
1,58310153,The High Mountain Court,A.K. Mulford,"Mulford, A.K.",,,,0,3.74,AK Mulford,...,2021.0,2021.0,,11/7/2022,to-read,to-read (#141),to-read,,0,"The Five Crowns of Okrith, #1"
2,43263361,Crown of Bones,A.K. Wilder,"Wilder, A.K.",,1640634142,9781640634145.0,0,3.94,Entangled: Teen,...,2021.0,2021.0,,11/6/2022,to-read,to-read (#121),to-read,,0,"Amassia, #1"
3,38325332,All the Stars and Teeth,Adalyn Grace,"Grace, Adalyn",,,,0,3.67,Imprint,...,2020.0,2020.0,,11/18/2021,to-read,to-read (#21),to-read,,0,"All the Stars and Teeth, #1"
4,44012880,Fable,Adrienne Young,"Young, Adrienne",,,,0,4.04,Wednesday Books,...,2020.0,2020.0,,11/8/2021,to-read,to-read (#13),to-read,,0,"The World of the Narrows, #1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,60730784,A Kingdom of Flame and Fury,Whitney Dean,"Dean, Whitney",,,9798986011806.0,0,3.70,Phantom House Press,...,2022.0,,,11/7/2022,to-read,to-read (#134),to-read,,0,"The Four Kingdoms, #1"
597,52459864,Iron Widow,Xiran Jay Zhao,"Zhao, Xiran Jay",,0735269939,9780735269934.0,0,4.09,Penguin Teen,...,2021.0,2021.0,,7/16/2022,to-read,to-read (#66),to-read,,0,"Iron Widow, #1"
598,37800111,The Last Children of Tokyo,Yōko Tawada,"Tawada, Yōko",Margaret Mitsutani,1846276705,9781846276705.0,0,3.45,Portobello Books,...,2018.0,2014.0,,8/22/2023,currently-reading,currently-reading (#3),currently-reading,,1,
599,22510983,Girl Online,Zoe Sugg,"Sugg, Zoe",Siobhan Curham,0141357274,9780141357270.0,1,3.66,Atria / Keywords Press,...,2014.0,2014.0,5/21/2016,5/12/2016,2016,2016 (#33),read,,1,"Girl Online, #1"
600,23208406,On Tour,Zoe Sugg,"Sugg, Zoe",,,,1,3.74,Keywords Press,...,2015.0,2015.0,,5/21/2016,2016,2016 (#34),read,,1,Girl Online #2

In [142]:
#sort by author ascending order 
df.sort_values(by=['Author'],inplace=False,ascending=True)

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count,Series
0,62232755,Throne in the Dark,A.K. Caggiano,"Caggiano, A.K.",,,,0,4.27,,...,2022.0,2022.0,,1/15/2023,to-read,to-read (#179),to-read,,0,"Villains & Virtues, #1"
1,58310153,The High Mountain Court,A.K. Mulford,"Mulford, A.K.",,,,0,3.74,AK Mulford,...,2021.0,2021.0,,11/7/2022,to-read,to-read (#141),to-read,,0,"The Five Crowns of Okrith, #1"
2,43263361,Crown of Bones,A.K. Wilder,"Wilder, A.K.",,1640634142,9781640634145.0,0,3.94,Entangled: Teen,...,2021.0,2021.0,,11/6/2022,to-read,to-read (#121),to-read,,0,"Amassia, #1"
3,38325332,All the Stars and Teeth,Adalyn Grace,"Grace, Adalyn",,,,0,3.67,Imprint,...,2020.0,2020.0,,11/18/2021,to-read,to-read (#21),to-read,,0,"All the Stars and Teeth, #1"
4,44012880,Fable,Adrienne Young,"Young, Adrienne",,,,0,4.04,Wednesday Books,...,2020.0,2020.0,,11/8/2021,to-read,to-read (#13),to-read,,0,"The World of the Narrows, #1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,60730784,A Kingdom of Flame and Fury,Whitney Dean,"Dean, Whitney",,,9798986011806.0,0,3.70,Phantom House Press,...,2022.0,,,11/7/2022,to-read,to-read (#134),to-read,,0,"The Four Kingdoms, #1"
597,52459864,Iron Widow,Xiran Jay Zhao,"Zhao, Xiran Jay",,0735269939,9780735269934.0,0,4.09,Penguin Teen,...,2021.0,2021.0,,7/16/2022,to-read,to-read (#66),to-read,,0,"Iron Widow, #1"
598,37800111,The Last Children of Tokyo,Yōko Tawada,"Tawada, Yōko",Margaret Mitsutani,1846276705,9781846276705.0,0,3.45,Portobello Books,...,2018.0,2014.0,,8/22/2023,currently-reading,currently-reading (#3),currently-reading,,1,
599,22510983,Girl Online,Zoe Sugg,"Sugg, Zoe",Siobhan Curham,0141357274,9780141357270.0,1,3.66,Atria / Keywords Press,...,2014.0,2014.0,5/21/2016,5/12/2016,2016,2016 (#33),read,,1,"Girl Online, #1"
600,23208406,On Tour,Zoe Sugg,"Sugg, Zoe",,,,1,3.74,Keywords Press,...,2015.0,2015.0,,5/21/2016,2016,2016 (#34),read,,1,Girl Online #2

In [143]:
#shape of the dataset
df.shape

(601, 22)

In [144]:
#prints information regarding the dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Book Id                     601 non-null    int64
 1   Title                       601 non-null    object
 2   Author                      601 non-null    object
 3   Author l-f                  601 non-null    object
 4   Additional Authors          601 non-null    object
 5   ISBN                        601 non-null    object
 6   ISBN13                      601 non-null    object
 7   My Rating                   601 non-null    int64
 8   Average Rating              601 non-null    float64
 9   Publisher                   601 non-null    object
 10  Binding                     601 non-null    object
 11  Number of Pages             601 non-null    int64
 12  Year Published              601 non-null    object
 13  Original Publication Year   601 non-null    object
 14  Date Read                   601 non-null    object
 15  Date Added                  601 non-null    object
 16  Bookshelves                 601 non-null    object
 17  Bookshelves with positions  601 non-null    object
 18  Exclusive Shelf             601 non-null    object
 19  My Review                   601 non-null    object
 20  Read Count                  601 non-null    int64
 21  Series                      601 non-null    object
dtypes: float64(1), int64(4), object(17)
memory usage: 103.4+ KB

In [145]:
#the column labels 
df.columns

Index(['Book Id', 'Title', 'Author', 'Author l-f', 'Additional Authors',
       'ISBN', 'ISBN13', 'My Rating', 'Average Rating', 'Publisher', 'Binding',
       'Number of Pages', 'Year Published', 'Original Publication Year',
       'Date Read', 'Date Added', 'Bookshelves', 'Bookshelves with positions',
       'Exclusive Shelf', 'My Review', 'Read Count', 'Series'],
      dtype='object')

In [146]:
#checking all the null values and if there is any pending value
df.isnull().sum()

Book Id                       0
Title                         0
Author                        0
Author l-f                    0
Additional Authors            0
ISBN                          0
ISBN13                        0
My Rating                     0
Average Rating                0
Publisher                     0
Binding                       0
Number of Pages               0
Year Published                0
Original Publication Year     0
Date Read                     0
Date Added                    0
Bookshelves                   0
Bookshelves with positions    0
Exclusive Shelf               0
My Review                     0
Read Count                    0
Series                        0
dtype: int64

In [147]:
#check the data types of each column 
df.dtypes

Book Id                         int64
Title                          object
Author                         object
Author l-f                     object
Additional Authors             object
ISBN                           object
ISBN13                         object
My Rating                       int64
Average Rating                float64
Publisher                      object
Binding                        object
Number of Pages                 int64
Year Published                 object
Original Publication Year      object
Date Read                      object
Date Added                     object
Bookshelves                    object
Bookshelves with positions     object
Exclusive Shelf                object
My Review                      object
Read Count                      int64
Series                         object
dtype: object

In [148]:
#stastical summary of the numerical columns 
df.describe()

            Book Id   My Rating  Average Rating  Number of Pages  Read Count
count  6.010000e+02  601.000000      601.000000       601.000000  601.000000
mean   3.529098e+07    1.890183        4.075125       398.261231    0.613977
std    2.033509e+07    1.919528        0.265147       153.836667    0.523518
min    1.000000e+00    0.000000        2.580000         0.000000    0.000000
25%    1.808092e+07    0.000000        3.910000       328.000000    0.000000
50%    3.570224e+07    2.000000        4.080000       385.000000    1.000000
75%    5.418940e+07    4.000000        4.260000       467.000000    1.000000
max    1.233687e+08    5.000000        4.680000      1258.000000    2.000000

In [149]:
# save the data for further analysis
df.to_csv(r"C:\Users\lanas\OneDrive\Desktop\Data Sets\goodreads_library_export_cleaned.csv", index=False)